v-expansion-panel
  v-expansion-panel-header
    strong Search in Directory
  v-expansion-panel-content
    v-text-field.mx-5(
      v-model="search"
      class="mb-3"
      clearable
      dark
      flat
      hide-details
      placeholder="Search Procedure Directory"
      solo
    )
    v-divider.mx-5
    p.subtitle-1.ml-5.pt-5
      strong Search Results
    //- Procedures in tree view
    v-treeview.ml-n3(
      :items="items"
      :search="search"
      @update:active="updateNode"
      activatable
      dense
      hoverable
      item-key="path"
      open-all
      selection-type="leaf"
    )