v-flex(xs3 fill-height)
  v-sheet
    v-text-field(
      v-model="search"
      class="mb-3"
      clearable
      dark
      flat
      hide-details
      placeholder="Search Procedures"
      solo
    )
  v-sheet
    v-treeview(
      :items="items"
      :search="search"
      @update:active="updateNode"
      activatable
      dense
      hoverable
      item-key="path"
      open-all
      open-on-click
      selection-type="leaf"
    )

    